<h3> Bengisu BaÄŸlar 20180808061 </h3>

<h3> 1 Basics </h3>

<h4> Exercise 1.1: The interpreter </h4>

Nothing happens when we input the following statements because there is nothing else assigned to the operations .

<h5> (a) </h5>

In [1]:
3 + 1

4

<h5> (b) </h5>

In [2]:
3 * 3

9

<h5> (c) </h5>

In [3]:
2 ** 3

8

<h5> (d) </h5>

In [4]:
"Hello, world!"

'Hello, world!'

<h5> Exercise 1.2: Scripts </h5>

Again, nothing happens but if we write them in "print" function, then we will have outputs.

<h5> Exercise 1.3: More interpreter </h5>

<h5> (a) </h5> Adds two strings.(String concatenation)

In [5]:
"py" + "thon"

'python'

<h5> (b) </h5> Adds two strings and multiplies the first string with 3.

In [6]:
"py" * 3 + "thon"

'pypypython'

<h5> (c) </h5> Type error because Python does not have substraction operator for strings.

In [7]:
"py" - "py"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

<h5> (d) </h5> Type error because Python can not add a string and an integer.

In [9]:
"3" + 3

TypeError: can only concatenate str (not "int") to str

<h5> (e) </h5> Writes String "3" three times.

In [10]:
3 * "3"

'333'

<h5> (f) </h5> Since a is not defined yet, we have a NameError.

In [11]:
a

NameError: name 'a' is not defined

<h5> (g) </h5> Assigning defining a as 3.

In [12]:
a = 3

<h5> (h) </h5> Since a is now defined (3). We see 3 as the output.

In [13]:
a

3

<h5> Exercise 1.4: Booleans </h5>

<h5> (a) </h5> 1 == 1.

In [14]:
1 == 1

True

<h5> (b) </h5> 1 == True.

In [15]:
1 == True

True

<h5> (c) </h5> 0 == True

In [16]:
0 == True

False

<h5> (d) </h5> 0 == False

In [17]:
0 == False

True

<h5> (e) </h5> 3 == 1 * 3

In [18]:
3 == 1 * 3

True

<h5> (f) </h5> (3 == 1) * 3

In [19]:
(3 == 1) * 3

0

<h5> (g) </h5> (3 == 3) * 4 + 3 == 1

In [20]:
(3 == 3) * 4 + 3 == 1

False

<h5> (h) </h5>  3**5 >= 4**4

In [21]:
3**5 >= 4**4

False

<h5> Exercise 1.5: Integers </h5>

<h5> (a) </h5> 5 / 3.

In [22]:
5 / 3

1.6666666666666667

<h5> (b)  </h5> 5 % 3.

In [23]:
5 % 3

2

<h5> (c) </h5> 5.0 / 3.

In [24]:
5.0 / 3

1.6666666666666667

<h5> (d) </h5> 5 / 3.0.

In [25]:
5 / 3.0

1.6666666666666667

<h5> (e) </h5> 5.2 % 3.

In [26]:
5.2 % 3

2.2

<h5> (f) </h5> 2001 ** 200.

In [27]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

<h5> Exercise 1.6: Floats </h5>

<h5> (a) </h5> 2000.3 ** 200.

In [28]:
2000.3 ** 200

OverflowError: (34, 'Result too large')

<h5> (b) </h5> 1.0 + 1.0 - 1.0.

In [29]:
1.0 + 1.0 - 1.0

1.0

<h5> (c)  </h5> 1.0 + 1.0e20 - 1.0e20.

In [30]:
1.0 + 1.0e20 - 1.0e20

0.0

<h5> Exercise 1.7: Variables </h5>

In [31]:
name = "Bengisu"
print("Hello, " + name + "!")

Hello, Bengisu!

<h5> Exercise 1.8: Type casting </h5>

In [32]:
x = "123"

<h5> (a) </h5> float(123).

In [33]:
float(x)

123.0

<h5> (b) </h5> float("123").

In [34]:
float("123")

123.0

<h5> (c) </h5> float("123.23").

In [35]:
float("123.23")

123.23

<h5> (d) </h5> int(123.23).Rounds the float to integer value.

In [36]:
int(123.23)

123

<h5> (e) </h5> int("123.23").  Cannot convert the string to int because it is not 10 based.

In [38]:
int("123.23")

ValueError: invalid literal for int() with base 10: '123.23'

<h5> (f) </h5> int(float(â€™123.23â€™))

In [39]:
int(float("123.23"))

123

<h5> (g) </h5>  str(12)

In [40]:
str(12)

'12'

<h5> (h) </h5> str(12.2)

In [41]:
str(12.2)

'12.2'

<h5> (i) </h5> bool("a")

In [42]:
bool("a")

True

<h5> (j) </h5> bool(0)

In [43]:
bool(0)

False

<h5> (k) </h5> bool(0.1)

In [44]:
bool(0.1)

True

<h3> 2 Control Flow </h3>

<h5> Exercise 2.1: Range </h5>

In [45]:
range(5)

range(0, 5)

In [46]:
type(range(5))

range

<h5> Exercise 2.2: For loops </h5>

<h5> (a) </h5>

In [1]:
for i in range(101) : 
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

<h5> (b) </h5>

In [2]:
for i in range (101) :
    if(i % 7 == 0):
        print(i, end= " ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

<h5> (c) </h5>

In [3]:
for i in range (101):
    if((i % 5 == 0) and (i % 3 != 0)) : 
        print(i, end= " ")

5 10 20 25 35 40 50 55 65 70 80 85 95 100

<h5> (d) </h5>

In [4]:
    i = 18
    for x in range(2,i) :
        if(i % x == 0 ) :
            print(x, end= " ")

2 3 6 9

<h5> Exercise 2.3: Simple while loops </h5>

<h5> (a) </h5>

In [5]:
x = 1
while x < 101 : 
    print(x,end = " ")
    x += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

<h5> (b) </h5>

In [6]:
i = 1
while i < 101 :
    if(i % 7 == 0) : 
        print(i, end = " ")
    i +=1

7 14 21 28 35 42 49 56 63 70 77 84 91 98

<h5> Exercise 2.4: Hangman update 1 </h5>

<h5> Exercise 2.5: While loops </h5>

In [78]:
foundNum = 0
x = 11
while foundNum < 20 : 
      if (x % 5 == 0 and x % 7 == 0 and x % 11==0) :
                print(x, end= " ")
                foundNum += 1
      x += 1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

<h5> Exercise 2.6: More while loops </h5>

In [77]:
i = 1
x = 1
while i < 11 :
    if (i % 2 == 0) :
        x *= (i / 2)
        i += 1

    elif (i % 3 == 0) :
        x *= (i / 3)
        i += 1

    elif (i % 5 == 0) :
        x *= (i / 5)
        i += 1

    else :
        x *= i
        i += 1


print(int(x))

2520

<h5> Exercise 2.7: Collatz sequence </h5>

In [18]:
x = 103 
print(x, end = ", ")
while x != 1 :
    if x % 2 == 0 :
        x = x/2 
    else : 
        x = 3*x + 1
    print(int(x), end = ", ")

103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1,

<h3> 3 Functions</h3>

<h5> Exercise 3.1: Hello </h5>

<h5> (a) </h5>

In [26]:
def hello_world():
   print("Hello, world!")

hello_world()

Hello, world!

<h5> (b) </h5>

In [23]:
def hello_world(name):
    print("hello, " + name+ "!")
hello_world("bengisu")

hello, bengisu!

<h5> (c) </h5>

We use 'print' when we want to show the value but 'return' is a keyword which we use when we want to use the return value somewhere else in our code. In this case(print hello) they both will perform very well.

<h5> Exercise 3.2: Polynomial </h5>

In [29]:
def poly(x):
    return x**2 -x + 2

<h5> Exercise 3.3: Maximum </h5>

<h5> (a) </h5>

In [38]:
def my_max(x,y) :
    if x < y :
        return y
    else :
        return x
    
my_max(1,3)

3

<h5> (b) </h5>

In [37]:
def my_max(x,y) :
    if x < y :
        return y
    if y < x : 
        return x
my_max(7,5)

7

<h5> Exercise 3.4: Primes </h5>

<h5> (a) </h5>

In [133]:
def is_prime(n) :
    if n == 2 :
            return True
    elif n == 3 :
            return True
    elif n== 1 : 
        return False
    elif n == 4 :
        return False
    for i in range (2, n//2) :
        if n % i == 0 :
            return False
            
    else :
            return True
            
            
            
is_prime(7)

True

<h5> (b) </h5>

In [96]:
def is_prime_faster(n) :    
    for i in range (2,n//2,5) :
        if n % i == 0 :
            return False
        else :
            return True
    for i in range (2,n//2,7) :
          if n % i == 0 :
            return False
          else :
            return True
    if n == 2 :
        return True
    if n == 3 :
        return True
is_prime_faster(7)

True

<h5> (c) </h5>

In [134]:
def my_func(n) :
    i= 1
    while i < n  :
        if is_prime(i)== True :
            print (i)
        i += 1
            
my_func(14)

2
3
5
7
11
13

<h5> (d) </h5>

In [137]:
def my_function(n) :
    x = 2
    i = 0
    while i < n :
        if is_prime(x):
            print(x)
            i += 1
        x += 1    
my_function(6)

2
3
5
7
11
13